<div class="container">
  <div class="row">
    <div class="about_logo mx-auto"><%= image_tag "logo1.jpg", alt: "logo" ,size: "100x100";%></div>
  </div>
  <div class="row mb-5">
    <h1 class="about_title mx-auto">=  ABOUT  =</h1>
    <div class="about_visual mx-auto">
      <div class="about_visual_content pull-right ">
          <div class="about_visual_text">
            <h2 style="font-size:30px;"class="mb-3" >Remountとは</h2>
            <p style="margin:30px;text-align:left;">
            登山の初心者から経験者まで、
            自身の経験をシェアできる登山投稿サイトです。</br>
            写真・登山日記を投稿しコメントをもらい、
            他ユーザーとコミュニケーションをとることができます。
            </p>
          </div>
      </div>
    </div>
  </div>
</div>