<div class="video-container">

  <div class="text">
    <p>Let's go to the mountains</p>
    <p class="headline">Remount</p>
  </div>

  <div class="video-wrap">
   <%= video_tag "top.mp4", autoplay: true, muted: true , loop: true,class:"top-image"%>
  </div>
</div>