// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-container {
  margin: 0 auto;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url() no-repeat center center/cover;
  z-index:5;
}

.top-image {
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  z-index:10;
}

/*画面サイズが変わっても常に動画の中央が表示されるようにする*/
/*動画よりも画面が横に長くなるとき用*/
@media (aspect-ratio: 16/9), (min-aspect-ratio: 16/9) {
  .top-image {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

/*動画よりも画面が縦に長くなるとき用*/
@media (max-aspect-ratio: 16/9) {
  .top-image {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

 .text{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /*上下左右中央寄せ*/
  text-align:center;
  z-index:15;
}

.text p{
  font-size:20px;
  font-weight:bold;
  color:white;
  z-index:15;
}
.text .headline{
  font-size:40px;
  z-index:15;
}