// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-body p {
  text-align: left;
}

.card-img-top.index-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-img-top.show-img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
}