// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show{
  border: solid 1px #CCCCCC;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 #DDDDDD;
}